/* Estilos gerais para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    background-image: url('../img/background.jpg'); /* Define a imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
    background-position: center; /* Centraliza a imagem de fundo */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
}

/* Estilos para o cabeçalho */
header {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    color: #fff; /* Cor do texto */
    padding: 1rem; /* Preenchimento interno */
    text-align: center; /* Centraliza o texto */
}

/* Estilos para a navegação */
nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
}

nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
    margin-right: 1rem; /* Adiciona margem à direita dos itens */
}

nav ul li a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove a sublinhado dos links */
}

/* Estilos para o conteúdo principal */
main {
    padding: 2rem; /* Preenchimento interno */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    border-radius: 10px; /* Bordas arredondadas */
    max-width: 800px; /* Largura máxima do conteúdo */
    margin: 100px auto; /* Centraliza o conteúdo e adiciona margem superior */
    text-align: center; /* Centraliza o texto */
}

/* Estilos para o rodapé */
footer {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 1rem; /* Preenchimento interno */
    position: fixed; /* Fixa o rodapé na parte inferior */
    width: 100%; /* Largura total do rodapé */
    bottom: 0; /* Posiciona o rodapé na parte inferior */
}